body{
	background-color: grey;
}
.input-box{
border-radius: 15px;
padding: 5px;
margin: 10px 0;
width: 20%;
border:1 px solid #999;
outline: none;
}
.feedback-btn{
	background-color: green;
}
.contact-us{
	text-align: center;
	margin:75px;
	background-color: cyan;
}
.contact-form{
	font-style: san serif;
}